img
	max-width 100%
.btn
	padding 5px 10px
	border-radius 0
	border none
	color #fff
	background $_COLOR_PRIMARY_D
.camp
	margin-bottom 10px
	img
		width 100%
.category-explorer
	.new-cover
		figcaption
			z-index 1
			.new-intro
				height 20px
				overflow hidden
				font-size 1em !important
.category-featuring
	border-top 2px solid #8c8c8c
	padding 0 20px
	li
		margin-left 40px
	a
		color $_COLOR_PRIMARY
		h3
			font-size 1.5em
			color $_COLOR_PRIMARY
		p
			margin-left 40px
			color #666
			font-size 90%
		&:hover
			text-decoration none
			p
				color $_COLOR_PRIMARY
.mrgT10
	margin-top 10px
.media-wp
	&.media-radio
		background linear-gradient($_COLOR_RADIO_BG,$_COLOR_RADIO_BG_D)
	&.media-video
		background linear-gradient($_COLOR_VIDEO_BG,$_COLOR_VIDEO_BG_D)
.new-prev
	margin-bottom 10px
	.new-cover
		height 0
		padding-bottom 50%
		position relative
		background no-repeat center center
		background-size cover
		&:before
			width 100%
			height 10vh
			content ''
			display block
			position absolute
			bottom 0
			left 0
			background linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7))
			z-index 1
		span
			width 100%
			height 100%
			position absolute
			left 0
			top 0
			background no-repeat center center
			background-size cover
		figcaption
			width 100%
			position absolute
			left 0
			bottom 0
			color #fff
			padding 0 20px 10px
			.new-title
				font-size 2em
			.new-intro
				font-size 1.5em
	.new-date
		padding 7px 20px
.section-title
	margin 0
	padding 10px
	text-align center
	font-size 2em
	color #fff
	background $_COLOR_PRIMARY_D
.single-new
	padding-bottom 40px
	//border-bottom 1px solid #aaa
	.new-cover
		padding-bottom 67vh
	.new-title
		color $_COLOR_PRIMARY
		padding 0 15px
	.new-data
		padding 0 15px
		font-size 85%
		margin-bottom 30px
		font-weight bold
		color $_COLOR_PRIMARY
	.new-content
		padding 0 15px
	.slider
		position relative
		.new-cover
			height 40vh
			padding-bottom 0
	.slider-wp
		margin-top 40px
		position relative
	.slick-arrow
		padding 10px 20px
		position absolute
		top 50%
		margin-top -20px
		font-size 32px
		color #fff
		background $_COLOR_PRIMARY
		border none
		outline none
		cursor pointer
		z-index 1
		&.slick-prev
			left 0
		&.slick-next
			right 0
.slider
	position relative
	.new-cover
		width 100%
		height 25vh
		background no-repeat center center
		background-size cover
.subsection-title
	color $_COLOR_PRIMARY