/* Gogole Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway')

//@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700,800')

@font-face
	font-family 'kanitbold'
	src url('../fonts/kanit/kanit-bold-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'kanitextrabold'
	src url('../fonts/kanit/kanit-extrabold-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'kanitlight'
	src url('../fonts/kanit/kanit-light-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'kanitmedium'
	src url('../fonts/kanit/kanit-medium-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'kanitregular'
	src url('../fonts/kanit/kanit-regular-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'kanitsemibold'
	src url('../fonts/kanit/kanit-semibold-webfont.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'icomoon'
	src  url('../fonts/icomoon/icomoon.eot?hdsprg')
	src  url('../fonts/icomoon/icomoon.eot?hdsprg#iefix') format('embedded-opentype'),url('../fonts/icomoon/icomoon.ttf?hdsprg') format('truetype'),url('../fonts/icomoon/icomoon.woff?hdsprg') format('woff'),url('../fonts/icomoon/icomoon.svg?hdsprg#icomoon') format('svg')
	font-weight normal
	font-style normal
[class^="icon-"], [class*=" icon-"]
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-angle-right:before {
	content: "\e900";
}
.icon-angle-left:before {
	content: "\e901";
}
.icon-volume-mute:before {
	content: "\e909";
}
.icon-volume:before {
	content: "\e909";
}
.icon-audio:before {
	content: "\e909";
}
.icon-player:before {
	content: "\e909";
}
.icon-twitter:before {
	content: "\e902";
}
.icon-brand:before {
	content: "\e902";
}
.icon-tweet:before {
	content: "\e902";
}
.icon-social:before {
	content: "\e902";
}
.icon-youtube:before {
	content: "\e903";
}
.icon-brand2:before {
	content: "\e903";
}
.icon-social2:before {
	content: "\e903";
}
.icon-facebook:before {
	content: "\e904";
}
.icon-brand3:before {
	content: "\e904";
}
.icon-social3:before {
	content: "\e904";
}
.icon-volume-medium:before {
	content: "\e905";
}
.icon-volume2:before {
	content: "\e905";
}
.icon-audio2:before {
	content: "\e905";
}
.icon-speaker:before {
	content: "\e905";
}
.icon-player2:before {
	content: "\e905";
}
.icon-play:before {
	content: "\e906";
}
.icon-player22:before {
	content: "\e906";
}
.icon-pause:before {
	content: "\e90a";
}
.icon-close:before {
	content: "\e908";
}
.icon-menu:before {
	content: "\e907";
}
