*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
html
body
	width 100%
	height 100%
	min-height 100%
body
	color #444
	background #666666
	font-family $_FONT_REGULAR
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
header
	padding 20px 20px 0
	font-size 12px
	color #fff
	background $_COLOR_PRIMARY
	.btn
		width 100%
		font-size 12px
		display block
		margin-bottom 18px
		outline none
		box-shadow none
		transition .3s all linear
		&.btn-nav
			font-size 14px
			font-weight bold
			.icon
				font-size 32px
				display inline-block
				vertical-align middle
				margin-right 5px
		&:hover
		&:focus
			outline none
			color #fff
			background darken($_COLOR_PRIMARY,30%)
				
	#radio-iframe
		width 100%
		height 150px
		display none
	#btn-radio
		min-height 27px
		.icon
			display inline-block
			margin 0 5px
			font-size 16px
		.radio-static
		.radio-label
			display none
		.btn-radio-play
			&.active
				&:before
					content '\e90a'
		.btn-radio-mute
			&.active
				&:before
					content '\e909'
	#date-statics
		display none
		text-align center
		.social-links
			a
				display inline-block
				margin 10px 20px
				&:hover
				&:focus
					text-decoration none
		a
			color #fff
			font-size 26px
	#date-statics-bar
		font-size 90%
		padding 10px
		background $_COLOR_PRIMARY_D
	.header-wp
		position relative
	nav
		display none
		width 100%
		position absolute
		left 0
		top 100%
		background $_COLOR_PRIMARY
		border-bottom 5px solid darken($_COLOR_PRIMARY,20%)
		z-index 1
		ul
			padding 0
			margin 0
			li
				border-bottom 1px solid darken($_COLOR_PRIMARY,30%)
				a
					color #fff
					font-size 14px
					font-weight bold
					padding 10px
					display block
					text-decoration none
					transition .3s all linear
					&:hover
						color #fff
						text-decoration none
						background darken($_COLOR_PRIMARY,20%)
				&:last-child
					border-bottom none
#content
	background #fff
	padding-bottom 40px
footer
	padding-bottom 30px
	text-align center
	font-size 11px
	color #fff
	.footer-data
		position relative
		margin-top -20px
		margin-bottom 30px
		margin-left 0
		margin-right 0
		padding 10px 0
		background #333333
	#footer-logos
		margin 30px 0
		
#home-slider
	background #666
	margin-bottom 10px
	.home-slider
	*[class*=col-]
		padding-left 0
		padding-right 0
	.new-cover
		position relative
		&:before
			width 100%
			height 15vh
			content ''
			display block
			position absolute
			bottom 0
			left 0
			background linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8))
	.caption
		width 100%
		position absolute
		left 0
		bottom 25px
		padding 0 20px
		color #fff
		h2
			margin 5px 0
#home-media-access
	margin-bottom 10px
	.media-wp
		.media-info
		p
			display none
	.media-wp
		width 50%
		float left
		padding 5px 0
	.media-radio
		background linear-gradient($_COLOR_RADIO_BG,$_COLOR_RADIO_BG_D)
	.media-video
		background linear-gradient($_COLOR_VIDEO_BG,$_COLOR_VIDEO_BG_D)