/* MIXIN'S */

border-radius()
	-o-border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border-radius arguments
	background-clip padding-box

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

filter-blur(n)
	filter blur(unit(n,px))
	-webkit-filter blur(unit(n,px))
	-moz-filter blur(unit(n,px))
	-o-filter blur(unit(n,px))
	-ms-filter blur(unit(n,px))
	filter url(blur.svg#blur)
	filter unquote("progid:DXImageTransform.Microsoft.Blur(PixelRadius='" + n +"')")

filter-grayscale()
	filter unquote("url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale)")
	filter unquote("gray")
	-webkit-filter unquote("grayscale(100%)")

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments