.carousel
	width 100%
	height auto
	ul
		height auto
		margin 0
		padding 0
		position relative
		li
			width 220px
			height 300px
			margin 0 10px
			list-style none
			display inline-block
			vertical-align top
			@media(max-width 1024px)
				width 250px
			figure
				position relative
				padding 2px
				img
					max-width 100%
					max-height 100%
				figcaption
					width 100%
					height auto
	.carousel-pagination
		text-align center
		a
			width 10px
			height 10px
			display inline-block
			margin 0 5px
			border-radius 50%
			font-size 0
			background #777
			&.selected
				background #222
	.controls
		width 100%
		position absolute
		top 50%
		span
			width 30px
			height 30px
			position absolute
			margin-top -24px
			text-align center
			font-size 30px
			line-height 25px
			color $_COLOR_PRIMARY
			border-radius 50%
			border 2px solid
			cursor pointer
			transition .5s
			&:hover
				color #bababa
			&.prev
				left 10px
			&.next
				right 10px