/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus
	outline: none

.slides,
.flex-control-nav,
.flex-direction-nav
	margin: 0
	padding: 0
	list-style: none

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face
	font-family: 'flexslider-icon'
	src: url('../fuentes/flexslider-icon.eot')
	src: url('../fuentes/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fuentes/flexslider-icon.woff') format('woff'), url('../fuentes/flexslider-icon.ttf') format('truetype'),url('../fuentes/flexslider-icon.svg#flexslider-icon') format('svg')
	font-weight: normal
	font-style: normal

/* FlexSlider Necessary Styles
*********************************/
.flexslider
	margin: 0
	padding: 0

.flexslider .slides > li
	display: none
	-webkit-backface-visibility: hidden

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img
	width: 100%
	display: block

.flex-pauseplay span
	text-transform: capitalize

/* Clearfix for the .slides element */
.slides:after
	content: "\0020"
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0

html[xmlns] .slides
	display: block

* html .slides
	height: 1%

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child
	display: block

/* FlexSlider Default Theme
*********************************/
.flexslider
	margin: 0
	//background: #fff
	position: relative
	zoom: 1

.flex-viewport
	max-height: 2000px
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	-o-transition: all 1s ease
	transition: all 1s ease

.loading .flex-viewport
	max-height: 300px

.flexslider .slides
	zoom: 1

/* Direction Nav */
.flex-direction-nav
	*height: 0

.flex-direction-nav a
	display: block
	width: 48px
	height: 48px
	margin: -20px 0 0
	position: absolute
	top: 50%
	z-index: 10
	overflow: hidden
	opacity: 0
	cursor: pointer
	color: rgba($_COLOR_PRIMARY,0.8)
	border-radius 50%
	border 2px solid
	transition: all .3s ease
	text-align center
	line-height 42px
	//background: #000
	//background: rgba(0,0,0,.47)

.flex-direction-nav .flex-prev
	left: -45px

.flex-direction-nav .flex-next
	right: -45px

.flexslider:hover .flex-prev
	opacity: 0.7
	left: 0px

.flexslider:hover .flex-next
	opacity: 0.7
	right: 0px

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover
	opacity: 1

.flex-direction-nav .flex-disabled
	opacity: 0!important
	filter: unquote("alpha(opacity=0)")
	cursor: default

.flex-direction-nav a:before
	font-family: "icomoon"
	font-size: 40px
	display: inline-block
	content: '\f104'

.flex-direction-nav a.flex-next:before
	content: '\f105'

/* Pause/Play */
.flex-pauseplay a
	display: block
	width: 20px
	height: 20px
	position: absolute
	bottom: 5px
	left: 10px
	opacity: 0.8
	z-index: 10
	overflow: hidden
	cursor: pointer
	color: #000

.flex-pauseplay a:before
	font-family: "flexslider-icon"
	font-size: 20px
	display: inline-block
	content: '\f004'

.flex-pauseplay a:hover
	opacity: 1

.flex-pauseplay a.flex-play:before
	content: '\f003'

/* Control Nav */
.flex-control-nav
	width: 100%
	position: absolute
	bottom: 17vw
	text-align: center
	z-index: 101
	@media(min-width 1024px)
		bottom 5vw

.flex-control-nav li
	margin: 0 6px
	display: inline-block
	zoom: 1
	*display: inline

.flex-control-paging li a
	width: 13px
	height: 13px
	display: block
	background: none
	border: 2px solid $_COLOR_CONTRAST
	cursor: pointer
	text-indent: -9999px
	font-size 0
	border-radius: 20px
	transition .3s all linear
	//box-shadow: inset 0 0 3px rgba(0,0,0,0.3)

.flex-control-paging li a:hover
	background: $_COLOR_CONTRAST

.flex-control-paging li a.flex-active
	background: $_COLOR_PRIMARY
	border-color $_COLOR_PRIMARY
	cursor: default

.flex-control-thumbs
	margin: 5px 0 0
	position: static
	overflow: hidden

.flex-control-thumbs li
	width: 25%
	float: left
	margin: 0

.flex-control-thumbs img
	width: 100%
	display: block
	opacity: .7
	cursor: pointer

.flex-control-thumbs img:hover
	opacity: 1

.flex-control-thumbs .flex-active
	opacity: 1
	cursor: default

@media screen and (max-width: 860px)
	.flex-direction-nav .flex-prev
		opacity: 1
		left: 5px

	.flex-direction-nav .flex-next
		opacity: 1
		right: 5px

	.flexslider:hover .flex-next
		right: 0

