@media (min-width 768px)
	header
		.btn
			&.btn-nav
				font-size 150%
				.icon
					margin-right 15px
		.col-sm-4
			float right
		#btn-radio
			.radio-static
			.radio-label
				display inline-block
		#date-statics
			display block
		#date-statics-bar
			display none
		nav
			width 33%
			ul
				padding 20px
				li
					a
	footer
		#footer-legal
			font-size 120%
		#footer-address
			width 25%
			position absolute
			left 37.5%
			top 40px
	
	#home-media-access
		.btn-media
			width 100%
		.media-wp
			padding 20px
			margin-bottom 10px
			&:first-child
				width 100%
			&.media-radio
				padding 5px 0 0
			.media-info
			p
				display block
			iframe
				max-width 100%
			.intro
				font-weight bold
			p
				color #fff
		.media-video
			background linear-gradient($_COLOR_VIDEO_BG_D,$_COLOR_VIDEO_BG)
	#single-category-featuring
		*[class*="col-"]
			padding 0
			&:first-child
				padding-left 15px
			&:last-child
				padding-right 15px
		.new-prev
			.new-date
				position absolute
				right 0
				bottom 15px
				font-size 80%
				color #fff
		.media-wp
			img
				max-width 96%
	
	.category-featuring
		li
			margin-left 0
			p
				margin-left 0
		figure
			span
				width 100%
				height 0
				display block
				padding-bottom 50%
				background no-repeat center center
				background-size cover
	.section-title
		text-align left
		.single-new
			.slider .new-cover
				height 50vh
		
@media (min-width 1024px)
	#home-slider
		margin-bottom 40px
		*[class*=col-]
			max-width 960px
			margin-bottom -20px
			margin-left auto
			margin-right auto
			float none
		.new-cover
			height 60vh
	#home-media-access
		.media-wp
			padding 5px
			&.media-radio
				padding 5px
		.camp.square
			margin-top 30px
	#single-category-featuring
		*[class*="col-"]
			padding-left 15px
			padding-right 15px
			&:first-child
				padding-left 15px
			&:last-child
				padding-right 15px
	.single-new
		.slider .new-cover
			height 60vh